<html>

<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/jquery.tagsinput-revisited.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/static/js/jquery.tagsinput-revisited.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>


</head>

<body>
    <div class="header">
        <br>
    </div>
    <div class="subheader">
        <h2 style="font-size: 20px; font-family:Futura; color: rgb(227, 98, 126)">
            Based on your wine flavor preferences, we will suggest travel destinations that best match them!
        </h2>
    </div>
    <div class="content">
        <div class="main-form">
            <form id="flavor-form" method="GET" action="/search">

                <label class="item-label" for="flavors">I like my <a href='aroma_wheel.html' data-toggle="tooltip"
                        title="Click for more wine descriptors">wine</a>:
                </label>
                <span class="item-input">
                    <input id="flavors" name="flavors" type="text">
                </span>

                <label class="item-label" for="countries">Where do you want to go?</label>
                <span class="item-input" id="country-picker">
                    <select class="selectpicker" id="countries" multiple title="Select country(s)"></select></span>
                <input type="hidden" name="countries" id="country-hidden">

                <button type="submit" class="btn btn-info"> Go! </button>
            </form>
        </div>

        <div id="results">

            <h1 id="result-header">{{output_message}}</h1>
            {% if data is defined and data|length %}
            <h3 id="result-header">Based on wine reviews by various users, we suggest these destinations:</h3>
            {% for d in data %}
            <div class="result-item">
                <img class="wine" src="/static/images/wine_glass.png" />
                <h4 class="output-header">{{d.province}} in {{d.country}}</h4>
                <p class="output-text">Based on your preferences, you should consider visiting <b>
                        {{d.winery}}</b> and trying their <b>{{d.variety}}</b>.
                    <br>
                    A wine reviewer describes this wine to have notes of:
                    "{{d.review}}"
                    <br>
                    The full review: <span id="dots">...</span>
                    <span id="more">
                        Here is the full review
                    </span>
                    <button onclick="showMore()" id="see-more">Read more</button>
                </p>
            </div>
            {% endfor %}
            {% endif %}
            {% if data is defined and data == [] %}
            <h3 style="text-align: 'center'"> We couldn't find anything for that search! Here are some descriptor words
                to try searching:
                <a href="aroma_wheel.html">Aroma Wheel</a>
            </h3>
            {% endif %}
        </div>

    </div>
    </div>
    <footer>
        <p>Student Name: ({{ netid }})</p>
    </footer>
    <script>
        const availableFlavors = [
            "Dry",
            "Sweet",
            "Acidic",
            "Spice",
            "Fruit",
            "Vanilla",
            "Ripe",
            "Earthy"
        ];
        $("#flavors").tagsInput({
            'autocomplete': { source: availableFlavors }
        });
        $(function () {
            $("#flavors_tag").prop("title", "Enter as many of your own descriptors or select as many of the \
                        suggested descriptors from the dropdown." );
            $("#flavors_tag").tooltip({
                position: {
                    my: "right+100 top", at: "right+100 top", using: function (position, feedback) {
                        $(this).css(position);
                    }
                }
            }).off("mouseover mouseout");
            $('[data-toggle="tooltip"]').tooltip();
        });
        const countries = ['No preference'
            , 'Argentina', 'Australia', 'Austria', 'Bulgaria', 'Canada', 'Chile', 'Croatia', 'Cyprus'
            , 'England', 'France', 'Georgia', 'Germany', 'Greece', 'Hungary', 'India', 'Israel'
            , 'Italy', 'Lebanon', 'Macedonia', 'Mexico', 'Moldova', 'Morocco', 'New Zealand'
            , 'Portugal', 'Romania', 'Serbia', 'Slovenia', 'South Africa', 'Spain', 'Switzerland'
            , 'Turkey', 'US', 'Uruguay']

        $.each(countries, function (index, value) {
            $('#countries').append($('<option />', {
                value: value,
                text: value
            }));
        });

        $("#countries").on("change", function (e) {
            let countries_sel = $("#countries").val();
            $("#country-hidden").val(countries_sel);
        });


        function showMore() {
            var dots = document.getElementById("dots");
            var moreText = document.getElementById("more");
            var btnText = document.getElementById("see-more");

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Read more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Read less";
                moreText.style.display = "inline";
            }
        }




    </script>
</body>

</html>